body {
    text-align: center;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    background: linear-gradient(darkblue, purple);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 5px black;
}

#us-img {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    border: 6px double orangered;
    margin-bottom: 10px;
}

#years {
    background: orangered;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#date {
    margin: 0;
    background: orangered;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-wants-you-love {
    width: 800px;
}

.gift-img {
    margin: 20px auto;
    max-width: 450px;
    height: 550px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-i-love-you:hover {
    background-image: url("images/i-love-you.gif");
    height: 620px;
    margin: 0 auto;
}

#gift-img-birds:hover {
    background-image: url("images/birds.gif");
    width: 1000px;
    margin: 0 auto;

}

#gift-img-beard-love:hover {
    background-image: url("images/beard-love.gif");
}



#footer {
    font-family: sans-serif;
    font-size: 1rem;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/